#catmain {
	height: auto;
	width: 600px;
}

#catmain_part {
	height: 150px;
	width: 200px;
	float: left;
}

.text span {
	font-size: 15px;
}

.link {
	color: #152440;
	font-weight: bold;
	cursor: pointer;
}
.categoryBox {
	justify-content: center;
}
