.productDetails {
	margin: 40px auto;
	border: 1px solid lightgray;
	padding: 40px 20px;
	border-radius: 5px;
	position: relative;
}

.Product-image img {
	max-width: 450px;
	max-height: 500px;
	border: 1px solid lightgray;
	padding: 10px;
	object-fit: contain;
}

.product-description {
	margin-left: 60px;
}
.product-description h4 {
	margin: 10px 0;
}
.price {
	color: green;
	font-size: 1.2rem;
	margin-bottom: 5px;
	font-weight: 600;
}
.price span {
	font-size: 1rem;
}
.current-Price {
	color: #d43840;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 5px;
}
.current-Price span {
	font-size: 1.2rem;
}
.your-Price {
	margin-bottom: 10px;
	color: rgb(66, 66, 66);
}
.description {
	color: rgb(24, 24, 24);
	text-decoration: underline;
}
.low-price-error {
	font-size: 14px;
	color: red;
	height: 16px;
}
.bidding-btn {
	margin-top: 30px;
	padding: 10px;
	border: none;
	background-color: rgb(51, 169, 98);
	border-radius: 5px;
	color: white;
	font-weight: 600;
}

.bidding-btn:hover {
	background-color: rgb(37, 133, 75);
}
.product-description p span {
	color: black;
}

.Price-input {
	outline: none;
	height: 2rem;
	border-radius: 4px;
	border: 1px solid gray;
	padding: 0 8px;
	margin-top: 10px;
}

.auction-submit-btn {
	background: rgb(51, 169, 98);
	padding: 4px 8px;
	color: white;
	margin-left: 20px;
	border: none;
	border-radius: 5px;
}
.auction-submit-btn:hover {
	background: rgb(37, 133, 75);
}

.delete {
	position: absolute;
	background-color: #f3525a;
	width: 40px;
	height: 40px;
	padding: 8px;
	border-radius: 6px;
	cursor: pointer;
	bottom: 20px;
	right: 20px;
}
.time {
	margin-left: 50px;
	color: red;
}

.auction-list {
	color: blue;
	cursor: pointer;
	width: 150px;
	margin-top: 25px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}
.auction-list:hover {
	text-decoration: underline;
}

@media (max-width: 991.98px) {
	.productDetails {
		width: min-content;
		flex-direction: column;
	}

	.Product-image {
		width: 100%;
		/* margin: ; */
	}
	.product-description {
		width: 80%;
		margin: 20px 10px;
	}
}
