.login-page {
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-bottom: 70px;
	position: relative;
	top: 35px;
	background: rgba(248, 248, 248, 0.396);
}

.login-form {
	margin-bottom: -25px;
}
.showPassword {
	position: relative;
	float: right;
	top: 32px;
	right: 16px;
	cursor: pointer;
}
.password-field > input {
	padding-right: 55px;
}

.error-msg {
	height: 30px;
	color: red;
}
